*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
body{
    background-color: #f8d0e5;
}
/*inicio navbar*/
nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #e290b5;
    height: 13vh;
}

.logo1{
    position: relative;
    width: 230px;
   bottom: 5px;
}

.nav-itens {
    list-style: none;
    display: flex;
    
}

.nav-itens li a:hover{
    
    list-style: none;
    display: flex;
    color: #ffff;
    text-decoration:underline;
    

}

.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #c1829d;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #c1829d;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover{
    background-color: #e7b7cc;
    transition: 1s background;
}

.login:hover{
    background-color: #e7b7cc;
    color: white;
    transition: 1s background;
}

.container { 
    max-width: 100%;
    position: relative;
    margin: auto; 
}


h1, p {
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-weight: 500;
  }
  
  .cardsercilios    {
    
    width: 700px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 75px auto;
  }
  
  .card {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
  }
  
  .cardcilios {
    width: 30%;
    padding: 20px;
    
  }
  
  .cardcilios img {
    
    max-width: 110%;
    height: auto;
    border-radius: 6px;
  }
  
  .cardcilios2 {
    text-align: left;
    background: #fff;
    width: 70%;
    border-radius: 6px ;
    padding: 40px;
  }
  
  .cardcilios2 h1 {
    color: #000000;
  }
  
  .cardcilios2 h5 {
    color: #000000;
  }
  
  .cardcilios2 ul {
    margin-bottom: 40px;
  }
  
  .cardcilios2 li {
    padding-bottom: 6px;
  }
  
  .botao {
    text-decoration: none;
    color: #fff;
    background: #c1829d;
    padding: 20px 30px;
    border-radius: 100px;
    transition: all 500ms ease;
   
    
  }
  
  .botao:hover {
    background: #e7b7cc;
  }